<div class="main-header">
    <div class="logo-section">
        <div class="logo">
            {% if section.settings.logo_image == blank %}
            <P>{{ shop.name }}</P>
        {% endif %}
        {% if section.settings.logo_image != blank %}
          <img src="{{ section.settings.logo_image | image_url: width: 160 }}">
            {% endif %}
            </div>
    </div>
    <div class="res-list">
        <i class="fa-solid fa-xmark" id="close"></i>
        <div class="res-links">
        {% for link in linklists.main-menu.links %}
        {% assign child_list_handle = link.title | handleize %}
        {% if linklists[child_list_handle].links != blank %}
          <a href="{{ link.url }}">{{ link.title }}</a>
        {% else %}
          <a href="{{ link.url }}">{{ link.title }}</a>
        {% endif %}
      {% endfor %}
      </div>
    </div>
    <div class="options-sec">
        <div class="hamburger">
            <i class="fa-solid fa-bars"></i>
        </div>
    <div class="anouncement-prt">
        <h3>{{ section.settings.anounce_text }}</h3>
    </div>
    <div class="link-list">
        {% for link in linklists.main-menu.links %}
        {% assign child_list_handle = link.title | handleize %}
        {% if linklists[child_list_handle].links != blank %}
          <a href="{{ link.url }}">{{ link.title }}</a>
        {% else %}
          <a href="{{ link.url }}">{{ link.title }}</a>
        {% endif %}
      {% endfor %}
    </div>
    <div class="cart-sec">
    <form action="/search" method="get" role="search">
       <a href="/search"><i class="fa-solid fa-magnifying-glass"></i></a>
        <input type="text" id="search-item" placeholder="Search" onkeyup="search()">
    </form>
     <button id="cart"><i class="fa-solid fa-cart-shopping"></i><span aria-hidden="true">({{ cart.item_count }})</span></button>
    </div>
    </div>
</div>
</div>
{% schema %}
{
    "name": "Header",
    "settings": [
      {
  "type": "image_picker",
  "id": "logo_image",
  "label": "Logo image"
},
{
    "type": "text",
    "id": "anounce_text",
    "default": "Welcome to our store",
    "label": "Anouncement will be Made Here"
  }
    ]    
}
{% endschema %}
{% style %}
body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: poppins;
}
.main-header{
    width: 100%;
    height:auto;
    background: #fff;
    display: block;
    box-shadow: 3px 2px 2px #999;
}
.logo-section{
    width: 100%;
    height: 70px;
    display: grid;
    background: #eee;
    place-items: center;
}
.options-sec{
    width: 100%;
    height: 100px;
    display: grid;
    grid-template-columns: auto auto auto;
    place-items: center;
    background: #eee;
    justify-content: space-around;
}
.cart-sec form{
    width: 250px;
    border: 1px solid #000;
    border-radius: 4px;
    background: #fff;
    border-radius: 20px;
}
.cart-sec form input{
    border: none;
    outline: none;
    box-shadow: none;
    width: 150px;
    font-size: 16px;
    font-weight: 600;
    padding: 8px 18px;
}
.cart-sec form i{
    padding-left: 10px;
    font-size: 20px;
}
.link-list{
    width: 300px;
    display: flex;
    justify-content: space-around;
}
.link-list a{
 text-decoration: none;
 letter-spacing: 2px;
 transition: all 3s linear;
}
.link-list a:hover{
  text-decoration: underline;
  transition: all 3s linear;
}
.cart-sec{
    width: 350px;
    display: flex;
    justify-content: space-between;
}
.cart-sec button{
    font-size: 25px;
    color: #000;
    cursor: pointer;
    background: transparent;
    border: none;
}
.hamburger{
    display: none;
}
.anouncement-prt h3{
  text-align: center;
}
.cart-sec  span{
    font-size: 16px;
    margin-left: 10px;
    cursor: pointer;
}
.res-list{
    display: none;
}
.logo p{
text-transform: capitalize;
font-size: 25px;
letter-spacing: 2px;
}
@media screen and (max-width: 760px){
    .link-list{
        display: none;
    }
    .hamburger{
        display: block;
    }
    .hamburger i{
        font-size: 25px;
        cursor: pointer;
    }
    .cart-sec{
        width: 200px;   
    }
    .cart-sec form{
        width: 150px;
    }
     .cart-sec form input{
        width: 60px;
     }
     .res-list{
        display: block;
        position: absolute;
        top: 85px;
        left: 0;
        width: auto;
        height: auto;
        pading: 30px;
        z-index: 10;
        border: 1px solid #eee;
        background: #fff;
        transition: all 0.3s linear;
        transform: translate(-100%);
      }
      .res-links{
        display: grid;
        padding: 20px;
        transition: all 0.3s linear;
        border-bottom: 1px solid #000;
      }
      .res-links a:hover{
        background: #eee;
      }
      .res-list a{
        text-decoration: none;
        color: #000;
        font-size: 20px;
        cursor: pointer;
        padding: 15px 30px;
        font-weight: 700;
      }
      .show-sidebar{
        transform: translate(0);
     }
      .res-list i{
        font-size: 24px;
        cursor: pointer;
     }
     .anouncement-prt h3{
        font-size: 13px;
        text-align: center;
     }
}

{% endstyle %}
 {% javascript %}
 const hamBurger = document.querySelector(".hamburger i");
 const resList = document.querySelector(".res-list");
 const closeBtn = document.querySelector("#close");
 hamBurger.addEventListener("click", function(){
   resList.classList.add("show-sidebar");
 } );
closeBtn.addEventListener("click", function(){
   resList.classList.remove("show-sidebar")
});
{% endjavascript %} 